<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des Voitures en cours</h4>
                        <p class="card-category">
                            
                      </p>
                    </div>
                    <div class="card-body">
                       <table align="center"><tr><td> prix d'heurs estimé:</td><td><input type="number" min="1" class="form-control" [(ngModel)]="paiement.prix_heure" name="prix" ></td><td><button class="btn btn-primary">Modifier</button></td></tr></table>
<!-- Button trigger modal -->
<br><br>
<div align="center">
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Ajouter une véhicule
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Voiture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="form-group">
          <input (change)="onFileSelected($event)"
              type="file"
              id="file"
              #curriculame
              name="cv"
              autocomplete="off"
               class="form-control" placeholder="Enter ..." >
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" (click)="add()" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                   
                                    <th>
                                        Matricule
                                    </th>
                                    <th>
                                        Entrée
                                    </th>
                                    <th>
                                      Sortie
                                    </th>
                                    <th>
                                      Temps écoulée
                                    </th>
                                    <th>
                                        Action
                                    </th>

                                </thead>
                                <tbody>
                            <tr *ngFor="let sess of sessions">
                                 <td><img src="{{sess.matricule}}" height="100" width="100"></td>
                                 <td>{{sess.entree |date :'medium'}}></td>
                                 <td>{{sess.sortie | date :'medium'}}></td>
                                 <td>{{sess.entree -sess.sortie| date :'medium' }} ({{sess.totale}})</td>
                                 <td><button (click)="edit(sess.id)" class="btn btn-warning">marquez la sortie</button></td>
                            </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  