<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Espace estimé</p>
                      <h3 class="card-title">20places
                          <small>Vt</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">à améliorer</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Revenue</p>
                      <h3 class="card-title">10DT/voiture(par jour)</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">en cas de probléme matriel</p>
                      <h3 class="card-title">connecter la carte</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Totale envoyé</p>
                      <h3 class="card-title">+200 données</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="row">
         
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Employées enregistrée</h4>
                      
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                        <thead class="text-warning">
                                 
                            <th>
                                Nom
                            </th>
                            <th>
                                Adresse
                            </th>
                            <th>
                                Téléphone
                            </th>
                            <th>
                                Login
                            </th>
                            <th>
                                Grade
                            </th>
                          
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                               
                                <td>
                                    {{user.nom}}
                                </td>
                                <td>
                                    {{user.adresse}}
                                </td>
                                <td>
                                    {{user.tel}}
                                </td>
                                <td>
                                    {{user.login}}
                                </td>
                                <td>
                                    {{user.grade}}
                                </td>
                               
                            </tr>
                           
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
